
.imgdivcontainer {
    display:flex;
    margin:0 auto;
    width: 992px;
    height: 400px;
}
.imgdiv{
    margin:20px 0px;
    text-align: center;
    padding: 60px 30px;
    padding-top:20px;
    border: 1px solid rgb(220,220,220);
    border-radius: 10px;
    width: 400px;
    height: 360px;
}
.imgdiv img {
    margin:auto;
    width: 300px; /* 카드 너비에 맞게 이미지 크기 조정 */
    height: 100%; /* 이미지 비율 유지 */
    object-fit: cover; /* 이미지 비율을 유지하면서 공간을 채움 */
}
.information {
    flex-grow:1;
    margin:20px;
    margin-right: 0px;
    border: 1px solid rgb(220,220,220);
    border-radius: 10px;
    padding:40px 30px;
}
.information p{
    margin:5px;
}

.information div{
    text-align: right;
}
.information button{
    padding:5px;
    border: 1px solid rgb(220,220,220);
    border-radius: 5px;
}

.container {
    text-align: center;
    padding: 40px 50px;
    border: 1px solid rgb(220,220,220);
    border-radius: 10px;
    max-width: 992px;
    margin:0px auto;
    margin-bottom: 50px;
}
.container h2 {
    margin-bottom:30px;
}
.container img {
    margin:30px;
    width: 500px; /* 카드 너비에 맞게 이미지 크기 조정 */
    height: 100%; /* 이미지 비율 유지 */
    object-fit: cover; /* 이미지 비율을 유지하면서 공간을 채움 */
}

