/* Ingredient.module.css */
.mainLayout {
  display: flex;
  min-height: 100vh;
  background-color: #f0fff0;
}

.searchSection {
  flex: 4; /* 40% */
  padding: 20px;
  border-right: 1px solid #eaeaea;
}

.refrigeratorSection {
  flex: 6; /* 60% */
  padding: 20px;
}
